*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(illuminated-buildings-city-against-sky-night_1048944-19270819.avif);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
 float: right;
 list-style: none;
 margin-top: 0px;   
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px; 
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo{
    font-size: 30px;
    color: #fff;
    padding-top: 10px;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20%  30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}
.welcome-text a{
    border: 2px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}